# This is the credentials template file.
# Fill in and copy to `.env`.
DOCKER_REGISTRY_USERNAME=robot\$user
DOCKER_REGISTRY_PASSWORD=superSecret
EVENTHUB_CONNECTIONSTRING="Endpoint=sb://tenant-ns.servicebus.windows.net/;SharedAccessKeyName=tenant-ar;SharedAccessKey=superSecret;EntityPath=tenant-eh"
OAUTH_CLIENT_ID=id
OAUTH_CLIENT_SECRET=superSecret